<div class="edit-list">
  <h4>Edit Player</h4>
  <label>New Player Name:</label>
  <input [(ngModel)]="selectedPlayer.name">
  <br>

  <label>New Player Age:</label>
  <input [(ngModel)]="selectedPlayer.age">
  <br>

  <label>New Player Position:</label>
  <input [(ngModel)]="selectedPlayer.position">

  <label>New Player Number:</label>
  <input [(ngModel)]="selectedPlayer.number">

  <label>New Player Birthplace:</label>
  <input [(ngModel)]="selectedPlayer.birthplace">

</div>
<div class="btnz">
  <button class="update-btn" (click)="beginUpdatingPlayer(selectedPlayer)">Update</button>
  <br>
  <button class="delete-btn" (click)="beginDeletingPlayer(selectedPlayer)">Delete</button>
</div>
