img {
  width: 500px;
  height: auto;
}

.panel {
  display: flex;
  justify-content: center;
  width: 90%;
}

.work {
  display: flex;
  justify-content: center;
}

.roster {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase; 
}
