img {
  width: 500px;
  height: auto;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.work {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.roster {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
